@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/Gill\ Sans.otf');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Gotham-bold';
    src: url('../fonts/GothamBold.ttf');
    font-weight: normal;
    font-style: normal;
} 


@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/GothamBook.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans-bold';
    src: url('../fonts/Gill\ Sans\ Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Substitute for Gill-sans semi-bold */
    font-family: 'Lato-bold'; 
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100%;
}

section.home {
    background-image: url("../img/Alluhwi-Website-Background-1.png");
}

section.about {
    padding: 0 28.22% 0 7.29%;
    background-color: #454545;
}

section.private {
    padding: 0 35.05% 0 7.29%;
}

section.terms {
    padding: 0 35.05% 0 7.29%;
}

section.beta {
    background-image: url("../img/Alluhwi-Website-Background-4.png");
    color: #FFFFFF;
    font-family: 'Montserrat-bold';
    font-size: 55px;
}

section.stories {
    background-image: url("../img/Alluhwi-Website-Background-3.png");
    color: white;
}

section.carousel {
    background-image: url("../img/Alluhwi-Website-Background-2-\(Exact\ Size\).png");
}

iframe.stories {
    width: 50%;
    float: left;
    padding: 0 0 100px 0;
    margin: 100px 30px 0 150px;
}

h1.beta {
    text-align: right;
    padding: 50px 150px 50px 0;
}

img.navi {
    margin: 40px 0 0 0;
    padding: 0 0 0 7.29%;
    width: 9.375%;
    float: left;
}

img.foot {
    width: 37.31px;
    height: 37.31px;
    margin: 10px 15px 25px 15px;
}

img.foot-home {
    width: 37.31px;
    height: 37.31px;
}

li.navi {
    float: left;
    padding: 40px 0 0 0;
    margin: 25px 20px 20px 35px;
    font-size: 1.5em;
}

a.navi {
    color: #383838;
    text-decoration: none;
    font-family: 'Gotham-bold';
}

a.home {
    color: #FFFFFF;
}

button.navi {
    float: right;
    background-color: #F58400;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 55px 55px 20px 35px;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 21px;
    font-family: 'Gotham-bold';
}

nav {
    border: 1px black solid;
    margin: 0;
}

nav.about {
    margin: 0;
}

nav.home {
    border: none;
}

section div {
    margin: 50px 0 0 50px;
}

h3.contact {
    margin: 40px 0 0 0;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'GillSans-bold';
}

h3.private {
    font-family: 'GillSans-bold';
    margin: 50px 0 20px 0;
}

p.contact {
    margin: 20px 0 180px 0;
}

p.terms {
    margin: 20px 0 20px 0;
}

p.private-info {
    margin: 10px 0 10px 0;
}

p.about {
    color: white;
    font-size: 26px;
    font-family: 'Gill Sans';
    margin: 20px 0 0 0;
    padding: 0 0 30px 0;
}

p.about-last {
    padding: 0 0 206.39px 0;
}

p.create {
    font-family: 'Gotham Book';
    font-size: 30px;
    padding: 0 0 0 56px;
    margin: 0 0 20px 0;
    word-wrap: normal;
    width: 45.05%px;
    line-height: 1.2;
}

iframe.home {
    width: 50%;
    float: left;
    padding: 75px 0 75px 0;
    margin: 0 75px 75px 75px;
}

h1.home-frame {
    padding: 75px 0 0 0;
    color: #F7F7F7;
    font-family: 'Montserrat-bold';
    font-size: 27px;
    margin: 0 0 25px 0;
}

h1.carousel {
    color: #454545;
    font-size: 60px;
    font-family: 'Montserrat-bold';
    margin: 30px 0 30px 300px;
    width: 57.5%;
    text-align: center;
}

h1.stories {
    color: #F58400;
    font-family: 'Montserrat-bold';
    font-size: 49px;
    padding: 100px 0 0 0;
    margin: 0px 0 20px 0;
}

p.stories {
    line-height: 1.9;
    font-family: 'Gill Sans';
    margin: 0 0 20px 0;
}

img.carousel {
    width: 50%;
    height: 50%;
}

img.beta {
    display: block;
    width: 25%;
    margin: 0 auto;
}

img.beta-large {
    width: 75%;
    display: block;
    padding: 0 0 0 300px;
}


p.home-frame {
    color: #FFFFFF;
    font-family: 'Gill Sans';
    font-size: 25px;
}

button.home-frame {
    text-decoration: none;
    color: white;
    background-color: #383838;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: 20px 0 10px 0;
}

section.mobile {
    background-color: #333333;
    color: white;
    font-family: 'GillSans-semibold';
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding: 0 0 62.50px 0;
}

img.mobile {
    height: 100px;
    width: 258px;
    padding: 10px 0 0 0;
}

h1.terms {
    margin: 0 0 25px 0;
    font-size: 57px;
    font-family: 'Gotham-bold';
    color: #383838;
}

h1.private {
    margin: 0 0 25px 0;
    font-family: 'Gotham-bold';
    font-size: 57px;
    color: #383838;
}

h1.about {
    padding: 75px 0 35px 0;
    color: #FC941A;
    font-family: 'Gotham-bold';
    font-size: 57px;
    margin: 0;
}

h1.create {
    color: #FC941A;
    font-family: 'Gotham-bold';
    font-size: 49px;
    padding: 0 0 0 56px;
    margin: 0 0 20px 0;
}

h1.contact {
    width: 50%;
    float: left;
    font-family: 'Gotham-bold';
    font-size: 67px;
    color: #F58400;
    margin: 0 10px 20px 30px;
}

p.contact-us {
    word-wrap: break-word;
    font-family: 'Gill Sans';
    line-height: 1.6;
    float: left;
    font-size: 25px;
    width: 50%;
    margin: 0 0 0 30px;
}

fieldset.contact-us {
    margin: 0 0 30px 0;
}

input.create {
    margin: 0 0 0 56px;
    font-size: 1.5em;
    padding: 0 100px 0 0;
}

footer.foot {
    padding: 30px 0 20px 0;
    background-color: #292929;
    text-align: center;
}

a.foot {
    color: white;
    text-decoration: none;
    margin: 0 5px 0 5px;
    font-family: 'Gotham-bold';
}

p.foot {
    margin: 25px 0 30px 0;
    color: #F58400;
    font-family: 'Gill Sans';
}

p.private {
    padding: 0 0 0 56px;
    margin: 20px 0 20px 0;
}

footer.about {
    margin: 0;
    padding: 0 0 40px 0;
}

div.create{
    background-color: #333333;
    color: white;
    padding: 0 0 45px 0;
    margin: 0 0 0 45.05%;
}

section.create-contain {
    background-image: url("../img/Alluhwi\ Comics\ Cat-girl.jpg");
}

section.contact {
    background-color: #383838;
    color: #FFFFFF;
    padding: 75px 0 0 0;
}

button.create {
    background-color: #F58400;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 20px 55px 0px 56px;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 21px;
    font-family: 'Gill Sans';
    display: block;
}

button.contact {
    background-color: #F58400;
    color: white;
    align-self: right;
    padding: 10px 5px 10px 5px;
    float: right;
    margin: 20px 52px 25px 0;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 17px;
    font-family: 'Gotham-bold';
    display: block;
}

section.form-one {
    padding: 10px 0 0 0;
    background-color: #383838;
    color: white;
    font-family: 'Gotham-bold';
}

.form-creator {
    color: #F58400;
}

a.home-frame {
    text-decoration: none;
}

h1.form-creator {
    margin: 20px 0 20px 0;
    text-align: center;
    color: #383838;
    font-family: 'Gotham-bold';
    font-size: 37px;
}

p.form-creator {
    color: white;
    font-family: 'Gill Sans';
    font-size: 16px;
    width: 260px;
    word-wrap: normal;
    line-height: 1.6;
    margin: 15px 0 15px 0;
}

legend.form-heading {
    font-size: 30px;
    margin: 0 0 25px 0;
}

div.sub {
    width: 50%;
    float: left;
}

input.form-creator {
    display: block;
    margin: 10px 0 10px 0;
    padding: 0 100px 0 0;
}

input.contact {
    display: block;
    margin: 15px 0 15px 0;
    padding: 5px 400px 5px 0;
    font-family: 'Gill Sans';
    border-radius: 5px;
}

textarea.contact {
    margin: 15px 0 0 0;
    border-radius: 5px;
    width: 532px;
}

label.contact {
    font-family: 'Gotham-bold';
    font-size: 19px;
}

select.form-creator {
    display: block;
}

input.form-creator-two {
    display: block;
    margin: 10px 0 10px 0;
    padding: 0 100px 0 0;
}

label.from-creator-two {
    float: right;
    border: 5px solid red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

button.hide {
    font-size: 25px;
    background-color: #333333;
    color: #F58400;
    text-align: center;
    border: none;
    border-radius: 4px;
    margin: 15px 0 15px 0;
}
